/* =========================
   VARIABLES
========================= */

:root {
    --color-principal: #214E34;
    --color-secundario: #DCE8D6;
    --color-acento: #4F7D54;
    --color-fondo: #F7F5EC;
    --color-texto: #1F2D24;

    --fuente-principal: "Poppins", sans-serif;
}


/* =========================
   RESET
========================= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* =========================
   ESTILOS GENERALES
========================= */

body {
    font-family: var(--fuente-principal);
    font-size: 16px;
    line-height: 1.6;

    background-color: var(--color-fondo);
    color: var(--color-texto);
}